    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Us</h2>
              <br/>
                <p> Mukundrai Brothers is one of the oldest and trusted pharmacy in Nagpur. The store deals with variety of products ranging from allopathic drugs, ayurvedic formulations, cosmetics, neutraceuticals and surgical equipments.
Read more <a href="https://www.cvpharmacy.in/about-us">here</a>.</p>
                <p>Download From Google Play: <a href="https://play.google.com/store/apps/details?id=com.mukundrai.pharmacy">Android version</a></p>
                <p>Download from Apple Store: <a href="https://itunes.apple.com/us/app/mukundrai-bros/id1401500003?mt=8">iOS version</a>.</p>
                <p>Pre-book your medicines conveniently at ease of home and get your refils delivered at your doorstep.</p>
                <br/>
              </div>
        </div>
    </section>
